<script type="text/javascript">
function fetch_services(location) {  
  jQuery.ajax({
    url: "/lawyers/fetch_services",
    type: "GET",
    data: {"location" : location},
    dataType: "json",
    success: function(data) {      	
    	var select = document.getElementById('mySelectID');
    	var error=document.getElementById('error');
      var validation_error=document.getElementById('validation_error');
      validation_error.style.display="none";
    	jQuery("#mySelectID").empty();
    	if(data.length > 0)
    	{	
    			select.style.display="block";
    			error.style.display="none";
    			jQuery("#mySelectID").append("<option value=''>Select Service</option>");
		    	data.forEach(function(record) {    		
		    		var option = jQuery("<option/>").attr("value", record.id).text(record.name);
		    		jQuery("#mySelectID").append(option);
				});
		}
		else
		{
			select.style.display="none";
			error.style.display="block";
		}
    }      	
  });
}
function call_fetch_services(location)
{	
	if(location!="")
	{		
		fetch_services(location);
	}
}
function page_validation() {
  
  var location=document.getElementById("loc");
  var service=document.getElementById("mySelectID");
  var validation_error=document.getElementById("validation_error");
  
  if(location.value!="")
  {
    if(service.style.display=="none")
    {
     validation_error.style.display="none";
     return true;
    }
    else
    {
      if(service.value!="")
      {
        validation_error.style.display="none";
        return true;
      }
      else
      {
        validation_error.style.display="block";
        return false;
      }
    }
  }
  else
  {
    validation_error.style.display="block";
    return false;
  }
}
</script>

<div class="find_form">
<h3>Find Lawyers</h3>
<%= form_tag('/lawyers/search',:method=>:post) do %>
<%= select_tag "location", options_for_select(@locations),:prompt=>"Select City",:onClick=>"call_fetch_services(this.value);",:class=>'element',:id=>"loc" %>
<%#= select_tag "service", options_from_collection_for_select(@services, 'id', 'name'),:prompt=>"Select service" %>
<select id="mySelectID" style="display:none;" name="service" class="element">

</select>
<p id="error" class="element" style="display:none;">No specific services are provided by the lawyers from this city.</p>

<%= submit_tag "Search",:class=>"button",:onClick=>"return page_validation();" %>
<p id="validation_error" style="margin-top:50px; color:red; display:none;">Please select valid option</p>
<% end %>
</div>

<% if @lawyers %>
<h2>Search Results of city: <%= @searched_location %> & service: <%= @searched_service %></h2>
<p>No of lawyers found: <%= @lawyers.count %></p>
<div class="CSSTableGenerator" >
<table>
<tbody>
<tr>
  <td>Lawyer Code</td>
  <td>Name</td>
  <td>Years of Exp</td>
  <td>Services Provided & Charges</td>
  
</tr>

<% @lawyers.each do |lawyer| %>
<tr>
<td><%= lawyer.code %></td>
<td><%= lawyer.name %></td>
<td><%= lawyer.yoe %></td>
<td>
<% if lawyer.service_charges.count>0 %>
<% lawyer.service_charges.each do |service_charge| %>
<p><%= service_charge.service.name %> - Charges Rs.<%= service_charge.charges %></p>
<% end %>
<% else %>
-
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>


